footer.footer
  .container
    .row.footer-row.align-items-start
      .col.logo-col.col-md-2.col-sm-12.d-flex.flex-column
        a(href='#')
          svg#Layer_1(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 200 51.22')
        ul.social-links.d-flex
          li
            a.footer-link(href='#')
              ion-icon.social-icon(name='logo-facebook')

          li
            a.footer-link(href='#')
              ion-icon.social-icon(name='logo-instagram')

          li
            a.footer-link(href='#')
              ion-icon.social-icon(name='logo-twitter')

      .col.address-col.col-md-2
        p.footer-heading Contact Us
        address.contacts
          p
            | 623 Harrison St., 2nd Floor 
            | CA 94107
          p
            a.footer-link(href='tel:012-345-6458') 012-345-6458
            br
            a.footer-link(href='mailto: osvaldo@vieira.com') osvaldo@vieira.com

      nav.col.nav-col.col-md-2
        p.footer-heading Company
        ul.footer-nav.d-flex.flex-column
          a.footer-link(href='#') Home
          a.footer-link(href='#') Careers
          a.footer-link(href='#') Blog
          a.footer-link(href='#') Community

      nav.col.nav-col.col-md-2
        p.footer-heading Resources
        ul.footer-nav.d-flex.flex-column
          a.footer-link(href='#') Privacy
          a.footer-link(href='#') Terms &amp; Conditions
