
extends base

block append head 
  link(rel='stylesheet', href='/css/guide.css')

mixin title-box(guide)
  h3.heading-tertiary.overview-header= guide.title
  p.txt-w--75.overview-intro= guide.subtitle

mixin mini-card(data)
  a(href=`guides/${data.slug}`) 
    .mini-card.d-flex
      h6.text-center.mini-card--title= data.title

block content
  section.guide-overview
    .container-fluid.section-hero
      .guide-overview-intro.container.d-flex.align-items-center
        .guide-text-box
          h2.header-title-primary At the Airport
          p.header-subtitle
            | Your go-to resource for everything you need to know about navigating
            | airports with ease and confidence
    .container.overview-container.d-flex.flex-column
      each guide in guides
        .row.overview-section.row-flex
          .overview-section--text.offset-1.col-lg-4.col-xs-11d-flex.flex-column.align-items-startjustify-content-center  
            +title-box(guide)
          .overview-boxes.col-lg-7.justify-content-start.col-xs-12
            each data in guide.data
              +mini-card(data)
