:root {
  --primary-dark-blue: #023e8a;
  --secondary-light-blue: #48cae4;
  --secondary-blue: #339af0;
  --white: #fff;
}

.section-culture {
  padding: 6rem 0 2rem 0;
}

.margin-b5 {
  margin-bottom: 5rem;
}

.img-container {
  border-radius: 10px;
  overflow: hidden;
}

.section-explore {
  padding: 6rem 0;
  overflow: hidden;
}

.container {
  gap: 5rem;
}

.carousel-inner {
  width: 85%;
}
