/* ******** */
/* GENERAL STYLES */
/* ******** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #023e8a;
  background: #fff;
  font-size: 1rem;
}

a:link,
a:active,
a:visited {
  color: #023e8a;
}

.header-title-primary {
  font-weight: 600;
  font-size: 4rem;
  color: #f8f9fa;
}

.heading-secondary {
  font-size: 2.55rem;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
}

.heading-mini {
  font-size: 1rem;
}

.header-title-secondary {
  font-weight: 300;
  color: #f8f9fa;
}

.sub-heading {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0;
}

.section-title {
  margin-bottom: 3rem;
}

.text-box {
  padding-left: 4rem;
  padding-right: 4rem;
}

.text-mini {
  font-size: 0.8rem;
  font-weight: 300;
}

.text-box--title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.text-box--description {
  opacity: 90%;
  font-size: 1rem;
  max-width: 25rem;
  margin-bottom: 3rem;
  line-height: 1.5;
}

.btn-read {
  color: #fff;
  background-color: #339af0;
  padding: 10px 24px;
  font-size: 0.875rem;
  font-weight: 300;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.3s ease;
}

.btn-read:hover {
  background-color: #48cae4;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.05);
}

.btn-tab {
  border: none;
  padding: 14px;
  white-space: nowrap;
  background-color: #f1f3f5;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 1px solid #dee2e6;
  transition: all 0.3s ease;
  width: 100%;
}

.btn-tab--active {
  border-top: 2px solid #023e8a;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 0;
  color: #023e8a;
  background-color: #fff;
  pointer-events: none;
}

.btn-tab:hover {
  background-color: #eee;
  color: rgba(0, 0, 0, 0.7);
}

/* ******** */
/* Hero Section */
/* ******** */

.section-hero {
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0)),
    url(../images/plane-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar {
  /* position: absolute; */
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.3s ease;
  text-transform: capitalize;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* width: 100%; */
}

.sticky {
  position: fixed;
  top: 0;
  /* width: 100%; */
}

.nav-item {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-brand {
  margin: 0;
}

.navbar-logo {
  width: 6rem;
}

.navbar-nav {
  align-items: center;
  justify-content: end;
}

.logoHeader-pattern-2 {
  fill: #48cae4;
}

.logoHeader-pattern-1 {
  fill: #023e8a;
}

.nav-link {
  padding: 1.8rem 0;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-link.dropdown-toggle::after {
  display: none;
}

.navbar-controls {
  height: 2.5rem;
  align-items: center;
  gap: 1.5rem;
}

.log-in:link {
  padding: 0px 16px;
  border-radius: 100px;
  gap: 1rem;
  font-size: 14px;
  cursor: pointer;
}

.log-in:link,
.btn-search-modal,
.login-offcanvas {
  box-shadow:
    rgba(10, 10, 130, 0.08) 0px 2px 16px 0px,
    rgba(10, 10, 130, 0.16) 0px 1px 2px 0px;
  transition: all 0.3s ease;
  height: 100%;
  height: 100%;
}

.log-in:hover,
.btn-search-modal:hover,
.login-offcanvas:hover {
  box-shadow: 0px 2px 6px 0px rgba(2, 61, 138, 0.664);
}

.btn-search-modal {
  display: flex;
  border: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  padding: 0px 11px;
  border-radius: 50%;
}

.search-icon {
  font-size: 1rem;
  --ionicon-stroke-width: 40px;
}

.search-icon--nav {
  cursor: pointer;
  color: #023e8a;
}

.nav-link:link,
.nav-link:visited,
.nav-link:active {
  color: #023e8a;
}

.navbar:hover .nav-link,
.navbar:hover .search-icon--nav {
  color: #023e8a;
}

.navbar-nav .nav-link:hover,
.btn-open-modal:hover {
  color: #48cae4;
}

/* OFFCANVAS */

.menu-toggler-icon,
.btn-close--icon {
  color: #023e8a;
}

.login-offcanvas {
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
}

.menu-toggler-icon {
  width: 30px;
  height: 30px;
  color: #023e8a;
}

.btn-close--icon {
  height: 100%;
  width: 100%;
}

.btn--close {
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  background: transparent;
}

.offcanvas {
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-nav .dropdown-menu {
  position: relative;
}

.offcanvas {
  --mdb-offcanvas-width: 100vw;
}

/* ******** */
/* SLIDER SECTION */
/* ******** */

.pad-left {
  padding-left: 2rem;
}

.pad-right {
  padding-right: 2rem;
}

.swiper {
  width: 100%;
  padding-bottom: 3rem !important;
  padding-top: 1rem !important;
}

.swiper-slide {
  font-size: 18px;
  border-radius: 0;
  background: transparent;
  border: none;
  display: flex;
  width: 300px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* justify-content: center;
  align-items: center; */
  transition: all 0.2s ease;
  height: 28rem !important;
}

.swiper-slide.card:hover {
  transform: translateY(-1rem);
}

.card {
  overflow: hidden;
  text-decoration: none;
  background: rgba(244, 244, 246, 0.648);
}

.card-body {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  justify-content: start;
  align-items: start;
}

.card-img-top {
  height: 210px;
  object-fit: cover;
  border-radius: 0;
}

.card-title {
  padding-bottom: 0.2rem;
  font-size: 20px;
  color: #023e8a;
  font-weight: 600;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
  color: #023e8a;
}

.swiper-scrollbar {
  --swiper-scrollbar-border-radius: 0;
  --swiper-scrollbar-size: 3px;
  --swiper-scrollbar-sides-offset: 40%;
  --swiper-scrollbar-drag-bg-color: #023e8a;
  cursor: grab;
}

/* ******** */
/* Section Disclaimer */
/* ******** */

.section-disclaimer {
  padding-bottom: 1rem;
}

/* ******** */
/* FOOTER */
/* ******** */

.footer {
  padding: 4rem 0 2rem 0;
  border-top: 1px solid #eee;
  background-color: #023e8a;
  color: #fff;
}

.footer-row {
  gap: 5rem;
  flex: 1;
}

.footer-heading {
  white-space: nowrap;
}

.footer-logo {
  fill: #fff;
}

.logo-col {
  gap: 1rem;
}

.logo-col a {
  width: 8rem;
}
/* 
.cls-1 {
  fill: #fff;
  transition: all 0.3s ease;
} */
.cls-2 {
  fill: #48cae4;
  transition: all 0.3s ease;
}

.social-links {
  list-style: none;
  padding: 0;
  gap: 1rem;
}

.social-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.contacts p,
.footer-nav {
  font-size: 14px;
}

.footer-heading {
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: #ced4da;
}

.footer-nav {
  padding: 0;
  gap: 0.5rem;
  font-weight: 300;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.footer-link:hover,
.footer-link:active {
  color: #48cae4;
}
