.section-guide {
  margin-top: 8rem;
  margin-bottom: 8rem;
  overflow: hidden;
}

.nav-tab {
  border-bottom: 1px solid #e9ecef;
}

.nav-tab--link a {
  display: block;
  transition: all 0.3s ease;
  height: 3rem;
}

.nav-tab--link a:link,
.nav-tab--link a:visited {
  white-space: nowrap;
  color: rgb(2, 60, 136);
  font-weight: 600;
  font-size: 1rem;
}

.nav-tab--link a:active,
.nav-tab--link a:hover {
  color: #48dce4;
}

.active {
  color: #48dce4 !important;
}

.disable-link {
  pointer-events: none;
}

.guide-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.guide-intro-text {
  font-size: 1.3rem;
  color: rgb(99, 111, 153);
  padding-left: 1rem;
  width: 75%;
}

.guide-intro {
  margin-bottom: 6rem;
  justify-content: space-between;
  align-items: start;
}

.nav-tab {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0;
}

.scrollbox {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin-bottom: 1rem;
}

.scrollbox::-webkit-scrollbar {
  width: 5px;
  height: 0.2rem;
}

.scrollbox::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thumb (the draggable part) */
.scrollbox::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

/* Handle the hover state of the thumb */
.scrollbox::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.nav-tab--link a {
  font-size: 1.2rem;
}

.guide-text-box {
  padding-top: 7rem;
  margin-bottom: 2rem;
}

.guide-summary {
  width: 75%;
  margin-bottom: 3rem;
  color: rgb(99, 111, 153);
}

.guide-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.guide-img-container img {
  object-fit: cover;
  max-width: 100%;
}

.accordion-button {
  padding: 2rem;
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  color: #023d8a;
}

.accordion-description {
  color: rgb(99, 111, 153);
}
